.custom-button {
  background: #367fa9;
  border-radius: 0.8rem;
  height: 4.8rem;

  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;

  &.is-block {
    display: block;
    width: 100%;
  }

  &.outline {
    border: 0.2rem solid #367fa9;
    background: transparent;
    color: #367fa9;

    &:hover {
      background: #367fa9;
      color: #ffffff;
    }
  }

  &.danger {
    background: #dc3545;
  }

  &.outline-danger {
    border: 0.2rem solid #dc3545;
    background: transparent;
    color: #dc3545;

    &:hover {
      background: #dc3545;
      color: #ffffff;
    }
  }
}
