.home-card-wrapper {
  height: 20rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  background-color: #ffffff;
  cursor: pointer;

  @media only screen and (min-width: 600px) {
    height: 15rem;
  }

  h3, span {
    font-size: 3rem;
    line-height: 4.5rem;
    font-weight: 700;
  }

  &.is-badge {
    max-width: 25rem;
    width: 100%;

    > svg {
      font-size: 3rem;
    }

    p {
      margin-top: 2rem;
      font-size: 2rem;
      text-align: center;
    }

    &:hover {
      background-color: #367fa9;
      color: #ffffff;
    }
  }
}
