.hamburger-button {
  width: 3.5rem;
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  > div {
    height: 0.3rem;
    background-color: #000000;
    width: 100%;
  }
}
