.custom-table-wrapper {
  overflow: hidden;
  overflow-x: auto;
  margin: 2.5rem 0;

  > div {
    width: fit-content;
    min-width: 100%;

    .custom-table {
      min-width: 100%;

      &,
      & th,
      & td {
        border: 0.01rem solid #cccccc;
      }

      & th,
      & td {
        padding: 1.5rem 1rem;
        min-width: 13rem;

        @media only screen and (min-width: 900px) {
          min-width: 20%;
        }
      }

      th {
        font-weight: 700;
        text-transform: uppercase;
        background-color: #367fa9;
        color: #ffffff;
        text-align: center;
      }

      tr {
        &:nth-of-type(even) {
          background-color: rgba(#367fa9, 0.2);
        }
      }

      &.centered {
        td {
          text-align: center;
        }
      }
    }
  }
}
