.auth-input-wrapper {
  height: 5rem;
  border: 0.2rem solid rgba(84, 95, 125, 0.15);
  border-radius: 0.5rem;
  display: flex;
  background-color: #ffffff;

  &.has-error {
    border: 0.2rem solid rgba(255, 0, 0, 0.3);
  }

  > input {
    width: 100%;
    height: fit-content;
    background-color: transparent;
    border: none;
    outline: none;
    display: block;
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.9rem;
    color: #545f7d;
    opacity: 0.6;
    padding: 1.75rem 1.6rem 1.25rem 1.6rem;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    box-shadow: 0 0 0 1000px #ffffff inset !important;
  }

  > .toggle-button {
    display: block;
    width: 18.95%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    color: #39cdcc;
    cursor: pointer;
  }
}
